html {
	background: #404550;
}

body {
	font: 100% Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight: normal;
	font-style: normal;
    width: 1024px;
	margin: 20 auto;
    padding: 20px;
}

form, div{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

.submit {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    float: right;
}

.submit:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

img {
    height: auto; 
    width: auto; 
    max-width: 128px; 
    max-height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}